video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-container {
  background: linear-gradient(
      to bottom,
      rgba(2, 20, 128, 0.52),
      rgba(3, 1, 36, 0.73)
    ),
    url("https://imageio.forbes.com/specials-images/imageserve/5f36ac9acab972a1db11e85d/0x0.jpg?format=jpg&width=1200");
  background-size: cover;
}
